{% extends 'layouts/dashboard.html' %} {% set active_page = 'dashboard' %} {%
block top_bar_buttons %}
<div class="control has-icons-left">
  <input
    class="input is-normal is-rounded"
    type="search"
    placeholder="Search"
    name="search"
    style="background-color: white; color: black"
  />
  <span class="icon is-normal is-left">
    <i class="fa-solid fa-magnifying-glass" style="color: black"></i>
  </span>
</div>
{% endblock %} 


{% block right_bar_buttons %}
<li>
  <a href=""> <i class="fa-solid fa-user"></i> Account </a>
</li>
<li>
  <a href=""> <i class="fa-solid fa-gear"></i> Settings </a>
</li>
{% endblock %}

{% block main %} 


<div class="summary-section">
  {% include 'components/notification.html' %}
  <div class="columns">
    <div class="column">
      <h2 class="title is-4">Users Pending Approval</h2>
    {% if users %}
    <ul style="color: black; padding: 10px; margin-left: 20px; font-size: 15px;">
        {% for user in users %}
                <ol style="border: 1px solid black; padding: 5px; width: 20%;">{{ user.name }} | 
                    <a href="{{ url_for('superadmin.approve_user', user_id=user.id) }}">
                        Approve</a> | <a href="#">Ignore
                    </a>
                </ol>
        {% endfor %}
    </ul>
    </div>
    {% else %}
        No users are currently pending approval
    {% endif %}
    
  </div>
</div>
{% endblock %}
