<table>
    <tr>
      <th>No</th>
      <th>Action</th>
      <th>By</th>
      <th>Links</th>
      <th>Date Created</th>
      <th>Meta Data</th>
    </tr>
    <tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr>
    <tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr><tr>
      <td>1</td>
      <td>create</td>
      <td>admin | Akwa Elvis</td>
      <td><a href="">Link to data</a></td>
      <td>12/08/2024 10:53:26 AM</td>
      <td>None</td>
    </tr>   
  </table>