{% extends 'layouts/layout.html' %} {% block content %}

<div class="columns main-container">
  <div class="column is-3">
    <nav class="sidebar">
      <div class="sidebar-brand">
        <!-- Icon here -->
        <i class="fa-solid fa-compact-disc"></i>
        <!-- Logo text -->
        <h1 class="title is-3">Rondo</h1>
      </div>

      <div class="sidebar-items">
        <ul>
          <li class="{{'active' if active_page == 'dashboard' }}">
            <a href="{{ url_for('superadmin.dashboard') }}">
              <i class="fa-solid fa-house"></i> Dashboard
            </a>
          </li>
          <li class="{{'active' if active_page == 'inventory' }}">
            <a href="{{ url_for('superadmin.inventory') }}">
              <i class="fa-solid fa-truck-ramp-box"></i> Iventory
            </a>
          </li>
          <li class="{{'active' if active_page == 'user-management' }}"
            ><a href="{{ url_for('superadmin.user_management') }}">
              <i class="fa-regular fa-user"></i> User Management
            </a>
          </li>
          <!-- <li class="{{'active' if active_page == 'sales' }}"
            ><a href=""> <i class="fa-solid fa-sack-dollar"></i> Sales </a>
          </li> -->
          <li class="{{'active' if active_page == 'logs' }}"
            ><a href="{{ url_for('superadmin.logs') }}"> <i class="fa-solid fa-clipboard"></i> Logs </a>
          </li>
          <!-- <li class="{{'active' if active_page == 'backup' }}"
            ><a href=""> <i class="fa-solid fa-server"></i> Backup </a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>

  <div class="column secondary-container">
    <div class="top-bar">
      <div class="tb-left"> {% block top_bar_buttons %} {% endblock %} </div>
      <div class="bar-items">
        <ul>
          {% block right_bar_buttons %}
          {% endblock %}
          <li>
            <a href="{{ url_for('auth.logout') }}"> <i class="fa-solid fa-door-open"></i> Logout </a>
          </li>
        </ul>
      </div>
    </div>
    {% block main %} {% endblock %}
  </div>
</div>

{% endblock %}
